<div class="col-md-6 " style="margin: 5rem; align-items: center ">
<form action="">
  <div class="form-group">
    <label for="nombreEvento">Nombre del evento:</label>
    <input #nombre type="text" class="form-control" id="nombreEvento" name="nombreEvento">
  </div>
  <div class="form-group">
    <label for="organizador">Organizador:</label>
    <input #organizador type="text" class="form-control" id="organizador" name="organizador">
  </div>
  <div class="form-group">
    <label for="organizador">Lugar:</label>
    <input #lugar type="text" class="form-control" id="lugar" name="lugar">
  </div>

  <div class="form-group">
    <label for="fecha">Fecha:</label>
    <input #fecha type="date" class="form-control" id="fecha" name="fecha">
  </div>
  <div class="form-group">
    <label for="hora">Hora:</label>
    <input #hora type="time" class="form-control" id="hora" name="hora">
  </div>
  <div class="form-group">
    <label for="valor">Valor:</label>
    <input #valor type="number" class="form-control" id="valor" name="valor" min="20000">
  </div>

  <button type="submit" class="btn btn-outline-primary" (click)="registrarEvento(nombre.value,organizador.value,lugar.value,fecha.value,hora.value,valor.value)">Registrar evento</button>
</form>
</div>
<div class="row">
  <app-lista-eventos *ngFor="let item of eventos" [evento]=item></app-lista-eventos>
</div>
