    <div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
        <div class="card-img">
            <img src="https://placeimg.com/380/230/nature" alt="">
            <span>
                <h4> {{destino.nombre}} {{position}}</h4>
            </span>
        </div>
        <div class="card-desc">
            <h3>Heading</h3>
            <p>Servicios</p>
             <ul>
               <li *ngFor="let s of destino.servicios">
                 <span [ngSwitch]="s">
                   <i *ngSwitchCase="'desayuno'" style="color: #a52a2a">{{s}}</i>
                   <i *ngSwitchDefault>{{s}}</i>
                 </span>

               </li>
             </ul>
           <div class="row">
             <a href="#" (click)="voteUp()"
                appTrackearClick data-trackear-tags="destino_vote_up_lista_destinos_item"><i class="material-icons md-18">thumb_up</i></a>
             <a href="#" (click)="voteDown()"
                appTrackearClick data-trackear-tags="destino_vote_down_lista_destinos_item"><i class="material-icons md-18">thumb_down</i></a>
             {{destino.votes}}
           </div>
            <a href="#" class="btn-card" (click)="ir()">Ir!..</a>
          <span *ngIf="destino.isSelected()" >
            <span ngNonBindable>{{PREFERIDO}}</span>
          </span>
          <a [routerLink]="['/destino',destino.id]"
             appTrackearClick data-trackear-tags="destino_vote_ir_lista_destinos_item">Ver!</a>
        </div>
    </div>
