<div class="card" style="width: 20rem; margin: 1rem;">
  <img src="./assets/img/images.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{evento.nombreEvento}}</h5>
    <p class="card-text">Eventos Realizado por {{evento.organizador}}</p>
    <p class="card-text">Lugar {{evento.lugar}}</p>
    <p class="card-text">Valor $COP: {{evento.valor}}</p>
    <a href="#" class="btn btn-primary">Reserva</a>
  </div>
</div>

